/* style sheet */

#menu {
  background-color: hsl(120, 100%, 50%);
  position: relative;
  width: 100%;
  top: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

table{
  border-collapse: collapse;
}

table th {
  text-align: center;
  background-color: #3a6070;
  color: #FFF;
  border: #ff0000;
  font-size: 20px;
}

table td {
  border: 10px solid #e3e3e3;
  padding: 4px 8px;
  font: italic;
  font: bold;
  
}

#menu ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
/*  margin-left: 500px; */
  width: 100%;
}

  }
  #video{
        display: block;
    margin: auto;
  }
  

#menu ul li {
  text-align: center;
   float: left;
   width: 33.33333333%; 
  }
}
#menu ul li a {
  padding: 20px;
  font-size: 20px;
  font-family: Arial,sans-serif; 
}

#menu ul li a:hover {
  background-color:red;
}
#info li{
  text-align: center;
  }

body {
  background-color: lightblue;
}

 h1 {
  text-align: center;
  color: #0000FF;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 40px;   
 }

 h2{
  text-align: center;
  color: #000000;
  font-weight: bold;
  padding-left: 95px;
  font-size: 20px;
  font-family: 'Roboto', serif;
}


h3{
  text-align: left;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 1.222em;
  font-style: italic;
  padding-left: 95px;
}

h3:hover{
  color: pink;
}

p {
  text-align: center;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}

img {
  display: block;
  margin: auto;
  width: 400px;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

ul {
  text-align: center;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  list-style-type: circle;
  list-style-position: inside;
}

 p{
  text-align: center;
   padding-left: 100px;
  
}

#wk1 li {
    text-align: center;
  }

  
  #wk ul
  {
	width: 50%;
	margin:auto;
  
  }

  li {text-align: left; list-style: none;}

  #info{text-align: center;}

  #lib1
{
  text-align: left;
  font-size: 20px;
  font-style: italic
}

  #lib
  {
  text-align: left;
  font-size: 20px;
  font-style: italic;
  margin-left: 7px;
  }

  #wk4
  {
	width: 50%;
	margin:auto;
  text-align: center;
  }
  
  #wk3 ul{
  text-align: left;
	width: 50%;
	margin:auto;
  margin-left: 20px;
  }
  
  #wk4 li{
    text-align: center;
  }
