/* style sheet */

#menu {
  background-color: hsl(120, 100%, 50%);
  position: relative;
  width: 100%;
  top: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

#menu ul {
  list-style-type: none
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

body {
    background-color: lightblue;
}

h1 {
  text-align: center;
  color: FF0000;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 70px;
  
  
  
}

